.homecontainer{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
}

.honeul{
    background-color: black;
}

.hone{
    background-color: #111111;
    grid-column: 1/4;
}

.divcard{
    display: flex;
}

.htwo{
    background-color: brown;
    grid-column: 4/-1;
}

.hthree{
    background-color: #3A494E;
    grid-column: 1/-1;
}

.hfour{
    background-color: blue;
    grid-column: 1/-1;
}

.colorr{
    background-color: #111111;
    color: aliceblue;
}
.colorr:hover{
    background-color: aliceblue;
    color: #111111;
}


