.navv {
    background-color: black;
    margin-top: -16px;
    height: 70px;
  }
  
  .navv ul {
    display: flex;
    justify-content: right;
  
    list-style: none;
    color: aliceblue;
  }
  
  .navv ul li {
    margin: 10px;
    margin-top: 30px;
    
  }
  
  .ll {
    color: beige;
    text-decoration: none;
  }
  
  .about {
    text-align: center;
    color: red;
  }

  .lnk{
      color: aliceblue;
      text-decoration: none;
      
  }